@import "../../shared";

h1,
h2 {
	text-align: center;
	margin: 0;
}

.info-img {
	width: 60%;
	max-width: 800px;
}

.info-text {
	width: 600px;
}

.info-container {
	@extend .container;
	justify-content: space-around;
	gap: 30px;
}

.line {
	background-color: black;
	height: 10px;
	width: 83%;
}

.reasons-container {
	@extend .container;
	flex-wrap: wrap;
	gap: 30px 60px;
}

.reason {
	width: 40%;
	text-align: left;
	display: flex;
	justify-content: center;

	h3 {
		display: inline;
		float: left;
		line-height: 1;
		margin-right: 12px;
		margin-bottom: 0;
	}

	> div {
		max-width: 600px;
	}
}

.subtitle {
	max-width: 700px;
	text-align: center;
}
