<div class="page-container">
	<div class="verticle-center" style="max-width: 100%">
		<div class="container">
			<h1>WORK FOR ENRON</h1>
		</div>
		<div class="spacer"></div>
		<div class="container">
			<p class="subtitle">
				Enron is looking for world class talent ready to tackle
				challenging projects that will enable Enron to change the world.
			</p>
		</div>
		<div class="spacer"></div>
		<div class="container">
			<a href="/apply" class="button"><b>APPLY</b></a>
		</div>
		<div class="section-spacer"></div>
		<div class="info-container">
			<img class="info-content" src="assets/3people.jpg" />
			<div class="vertical-center info-text">
				<h3>WE NEED YOU</h3>
				<p>
					We need you, we need you more than we've ever needed
					anything before. We need you, we need you more than we've
					ever needed anything before.
				</p>
			</div>
		</div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="info-container">
			<div class="vertical-center info-text">
				<h3>FROM OUR CEO</h3>
				<p>
					We need you, we need you more than we've ever needed
					anything before. We need you, we need you more than we've
					ever needed anything before.
				</p>
			</div>
			<img class="info-content" src="assets/3people.jpg" />
		</div>
		<div class="section-spacer"></div>
		<div class="container">
			<h2>WHY ENRON?</h2>
		</div>
		<div class="spacer"></div>
		<div class="container">
			<div class="line"></div>
		</div>
		<div class="spacer"></div>
		<div class="reasons-container">
			<div class="reason">
				<div>
					<p>
						<span><h3>1</h3></span>
						We at Enron are just the best and you should come work
						for us. Seriously. Who else would you work for? Google?
						Facebook? Those guys just care about profits. Sure, go
						ahead, sell your soul and work for some "well-known"
						company.
					</p>
				</div>
			</div>
			<div class="reason">
				<div>
					<p>
						<span><h3>2</h3></span>
						We at Enron are just the best and you should come work
						for us. Seriously. Who else would you work for? Google?
						Facebook? Those guys just care about profits. Sure, go
						ahead, sell your soul and work for some "well-known"
						company.
					</p>
				</div>
			</div>
			<div class="reason">
				<div>
					<p>
						<span><h3>3</h3></span>
						We at Enron are just the best and you should come work
						for us. Seriously. Who else would you work for? Google?
						Facebook? Those guys just care about profits. Sure, go
						ahead, sell your soul and work for some "well-known"
						company.
					</p>
				</div>
			</div>
			<div class="reason">
				<div>
					<p>
						<span><h3>4</h3></span>
						We at Enron are just the best and you should come work
						for us. Seriously. Who else would you work for? Google?
						Facebook? Those guys just care about profits. Sure, go
						ahead, sell your soul and work for some "well-known"
						company.
					</p>
				</div>
			</div>
		</div>
		<div class="section-spacer"></div>
	</div>
</div>
