.footer-border {
	height: 5px;
	width: 100%;
}

.footer {
	background-color: rgb(250, 250, 250);
	p {
		color: #555;
		font-size: 14px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	a:first-of-type:hover {
		text-decoration: none;
	}

	a {
		padding-left: 10px;
		padding-right: 10px;
		white-space: nowrap;
	}
}
