<!-- Toolbar -->
<app-toolbar #toolbar></app-toolbar>
<div class="curtain" #curtain>
	<!-- Title -->
	<div #titleContainer class="container">
		<h1 #title class="title">WE'RE BACK... <br />CAN WE TALK?</h1>
	</div>

	<!-- Logo -->
	<div #logo class="logo-container">
		<img src="assets/enron_logo_gradient.png" class="logo" />
	</div>

	<!-- Subtitle -->
	<div class="text-container under-logo">
		<h2 class="subtitle" [innerHTML]="subtitleContent" #subtitle></h2>
	</div>

	<!-- Tweet Header -->
	<div class="text-container sticky-v-center">
		<h2 class="subtitle tweet-header" #tweetHeader>
			We know it’s not going to be easy…
		</h2>
	</div>
</div>

<!-- Light section -->
<div class="main-container" #main>
	<div class="container we-hear-you">
		<div class="vertical-center">
			<h1>WE HEAR YOU.</h1>
			<div class="container">
				<video width="1000" controls="controls" #video>
					<source
						src="https://storage.googleapis.com/enron-cdn/ceo.webm"
					/>
				</video>
			</div>
		</div>
	</div>
</div>

<div class="commitments-container" mode="light">
	<div class="container commitments">
		<div>
			<h3>Our company</h3>
			<p>
				We have implemented a strict no-shredder policy and Bill Clinton
				tough on crime inspired reprocussions for employees caught with
				one.
			</p>
		</div>
		<div>
			<h3>Who we are</h3>
			<p>
				We have implemented a strict no-shredder policy and Bill Clinton
				tough on crime inspired reprocussions for employees caught with
				one.
			</p>
		</div>
		<div>
			<h3>What we value</h3>
			<p>
				We have implemented a strict no-shredder policy and Bill Clinton
				tough on crime inspired reprocussions for employees caught with
				one.
			</p>
		</div>
		<div>
			<h3>Contact us</h3>
			<p>
				We have implemented a strict no-shredder policy and Bill Clinton
				tough on crime inspired reprocussions for employees caught with
				one.
			</p>
		</div>
	</div>

	<div class="container we-need-you">
		<div class="vertical-center">
			<h1>WE NEED YOU.</h1>
			<div class="container">
				<div class="careers-box">
					<div class="container">
						<h2><i>Work for Enron</i></h2>
					</div>
					<div class="container">
						<a href="#" class="button"><b>Apply</b></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container footer">
		<p>&copy; 2023 Enron Enterprises</p>
	</div>
</div>

<!-- Tweets -->
<app-tweets #tweets></app-tweets>
