@import "../../shared";

/**
 * Logo
 */

.logo {
	width: 70%;
}

.logo-container {
	@extend .container;
	opacity: 1;
	position: sticky;
	top: 30px;
}

.main-container {
	background-color: white;
	width: 100%;
	color: black;
	position: sticky;
	z-index: 0;
	opacity: 0;
	padding-top: $toolbar-height;
	height: 100vh;
	bottom: 0px;
	margin-top: $fade-duration;
}

.color-logo {
	margin-top: 100px;
	width: 500px;
}

.under-logo {
	margin-top: $fade-duration;
}

.we-hear-you {
	height: 100%;
}

.commitments-container {
	padding: 30px;
	background-color: white;
}

.commitments {
	div {
		padding: 15px;
	}
}

.careers-box {
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	width: 800px;
}

.we-need-you,
.footer {
	margin-top: 200px;
}

.we-need-you {
	text-align: center;
}

@media screen and (max-width: 815px) {
	.logo-container {
		top: $toolbar-height-mobile;
	}

	.we-hear-you {
		margin-top: $toolbar-height-mobile;
	}
}

@media screen and (max-width: 1200px) {
	.commitments {
		flex-direction: column;
	}

	.careers-box {
		width: 70%;
	}
}

@media screen and (min-width: 1740px) {
	.logo {
		width: 1217.3px;
	}
}
