<app-toolbar #toolbar></app-toolbar>
<div class="curtain" #curtain>
	<div #titleContainer class="text-container">
		<h2 #title class="title bordered">WE'RE BACK... <br />CAN WE TALK?</h2>
	</div>

	<div #logo class="logo-container">
		<img src="assets/logo.gif" class="logo" />
	</div>

	<div class="spacer"></div>

	<div class="subtitle-container" #vCenterTop>
		<h2 class="subtitle bordered-g" #subtitle>
			ENRON IS COMMITTED TO SHOWING YOU WHY WE DESERVE A SECOND CHANCE.
		</h2>
	</div>

	<div class="subtitle-container" #vCenterTop>
		<h2 class="subtitle tweet-header bordered-b" #tweetHeader>
			WE KNOW IT'S NOT<br />GOING TO BE EASY
		</h2>
	</div>
</div>

<div style="height: 50vh"></div>

<!-- Light section-->
<div class="subtitle-container" mode="light" #vCenterBottom>
	<h1 style="text-align: center">
		<span class="r">WE </span>
		<span class="g">HEAR </span>
		<span class="b">YOU.</span>
	</h1>
</div>

<div mode="light">
	<div class="video-block-container" #video>
		<div class="ceo-container">
			<h3>A SPECIAL MESSAGE <br />FROM OUR CEO</h3>
			<br />
			<p>
				We have implemented a strict no-shredder policy and Bill Clinton
				tough on crime inspired reprocussions for employees caught with
				one. We have implemented a strict no-shredder policy and Bill
				Clinton tough on crime inspired reprocussions for employees
				caught with one.
			</p>
		</div>
		<div class="video-container">
			<video controls="controls" playsinline>
				<source
					src="https://storage.googleapis.com/enron-cdn/ceo.webm"
				/>
				<source
					src="https://storage.googleapis.com/enron-cdn/ceo.h264"
				/>
			</video>
		</div>
	</div>

	<div class="commitments-container" mode="light">
		<div class="container commitments">
			<div>
				<h4>Who we are</h4>
				<p>
					We have implemented a strict no-shredder policy and Bill
					Clinton tough on crime inspired reprocussions for employees
					caught with one.<br /><br /><a class="b" href="#"
						>Learn More
						<i
							class="fa-solid fa-chevron-right"
							style="font-size: 15px"
						></i
					></a>
				</p>
			</div>
			<div>
				<h4>What we value</h4>
				<p>
					We have implemented a strict no-shredder policy and Bill
					Clinton tough on crime inspired reprocussions for employees
					caught with one.<br /><br /><a class="b" href="#"
						>Learn More
						<i
							class="fa-solid fa-chevron-right"
							style="font-size: 15px"
						></i
					></a>
				</p>
			</div>
			<div>
				<h4>Where we're going</h4>
				<p>
					We have implemented a strict no-shredder policy and Bill
					Clinton tough on crime inspired reprocussions for employees
					caught with one.<br /><br /><a class="b" href="#"
						>Learn More
						<i
							class="fa-solid fa-chevron-right"
							style="font-size: 15px"
						></i
					></a>
				</p>
			</div>
		</div>

		<div class="container we-need-you">
			<div class="vertical-center">
				<h2>WE NEED YOU.</h2>
				<div class="container">
					<div class="careers-box">
						<div class="container">
							<h3><i>Work for Enron</i></h3>
						</div>
						<div class="container">
							<a href="#" class="button"><b>Apply</b></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="container footer">
			<p>&copy; 2023 Enron Enterprises</p>
		</div>
	</div>
</div>

<!-- Tweets -->
<app-tweets #tweets></app-tweets>
