@import "../../shared";

/**
 * Logo
 */

.logo {
	width: 70%;
	max-width: 1000px;
}

.logo-container {
	@extend .container;
	opacity: 1;
	position: sticky;
	top: 30px;
}

.subtitle-container {
	@extend .text-container;
	position: sticky;
}

.main-container {
	@extend .container;
	background-color: white;
	width: 100%;
	color: black;
	position: sticky;
	z-index: 0;
	opacity: 0;
	height: 100vh;
	bottom: 0px;
	margin-top: 100px;
}

.subtitle {
	opacity: 0;
	z-index: 3;
	// margin: 0;
}

.color-logo {
	margin-top: 100px;
	width: 500px;
}

.we-hear-you {
	height: 100%;
}

.commitments-container {
	padding: 30px;
	background-color: white;
}

.commitments {
	div {
		padding: 15px;
	}
}

.careers-box {
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	width: 800px;
}

.title {
	margin-top: 30px;
}

.video-block-container {
	@extend .container;
	padding-left: 30px;
	padding-right: 30px;
}

.video-container {
	@extend .container;
	padding-left: 30px;
	padding-right: 30px;
	width: auto;
}

.ceo-container {
	max-width: 450px;
}

@media screen and (max-width: 815px) {
	.logo-container {
		top: $toolbar-height-mobile;
	}
}

@media screen and (max-width: 1200px) {
	.commitments {
		flex-direction: column;
	}

	.careers-box {
		width: 100%;
	}
}

@media screen and (max-width: 1350px) {
	.video-block-container {
		flex-direction: column-reverse;
	}

	.ceo-container {
		max-width: 100%;

		h3 {
			text-align: center;
		}
	}
}

@media screen and (max-width: 815px) {
	.title {
		margin-top: $toolbar-height-mobile;
	}
}
