<div #toolbar class="toolbar modeable">
    <div class="toolbar-bg" #toolbarBg></div>
    <div #line class="toolbar-line"></div>
    <div class="toolbar-edge-left">
        <div class="vertical-center">
            <a href="#">
                <img src="assets/enron_logo.png" />
            </a>
        </div>
    </div>
    <div #links class="toolbar-center">
        <a href="#">WHO WE ARE</a>
        <a href="#">PUBLIC RELATIONS</a>
        <a href="#">EXECUTIVE SUMMARY</a>
        <a href="/careers">CAREERS</a>
    </div>
    <div class="toolbar-edge-right">
        <a href="/shop">SHOP</a>
        <div id="login-button" class="vertical-center">
            <a href="#" class="button"><i>my</i><b>Enron</b></a>
        </div>
        <a id="mobile-menu" (click)="toggleMenu()">
            <i class="fa-solid fa-bars icon-show-menu"></i>
            <i class="fa-solid fa-xmark icon-hide-menu"></i>
        </a>
    </div>
</div>
<app-menu #menu></app-menu>
