<div #toolbar class="toolbar modeable">
    <app-menu #menu></app-menu>
    <div class="toolbar-bg" #toolbarBg></div>
    <div #line class="toolbar-line"></div>
    <div class="toolbar-edge-left">
        <div class="vertical-center">
            <a href="#">
                <img src="assets/enron_logo.png" />
            </a>
        </div>
    </div>
    <div #links class="toolbar-center">
        <a href="#">WHO WE ARE</a>
        <a href="#">PR</a>
        <a href="#">EXECUTIVE SUMMARY</a>
        <a href="#">CAREERS</a>
    </div>
    <div class="toolbar-edge-right">
        <a href="#">SHOP</a>
        <div id="login-button" class="vertical-center">
            <a href="#" class="button"><i>my</i><b>Enron</b></a>
        </div>
        <a id="mobile-menu" (click)="toggleMenu()"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="#fff"
                viewBox="0 0 256 256"
            >
                <path
                    d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"
                    #path
                ></path></svg
        ></a>
    </div>
</div>
