.menu {
	background-color: white;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 100%;
	transition: left 0.3s;
	transition-timing-function: ease-out;
	z-index: 30;
}

h1 {
	color: black;
}

h2 {
	color: black;
}

a {
	text-decoration: none;
}

*[mode="light"] {
	.menu {
		background-color: black;
	}

	h1 {
		color: white;
	}
}
