<div class="menu" #menu>
	<div class="menu-container" #menuContainer>
		<a href="#"><h4>Home</h4></a>
		<a href="#"><h4>Who We Are</h4></a>
		<a href="#"><h4>PR</h4></a>
		<a href="#"><h4>Executive Summary</h4></a>
		<a href="#"><h4>Careers</h4></a>
		<a href="#">
			<h4>
				Shop&nbsp;
				<i
					class="fa-solid fa-circle-arrow-right"
					style="font-size: 25px"
				></i></h4
		></a>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<a>Enron &copy; 2023</a><br /><br />
		<a href="#">Privacy & Legal</a><br /><br />
		<a href="#">Contact Us</a>
	</div>
</div>
