<style>
    :host {
        font-family: "Arial Black";
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    #tweet1 {
        transform: rotate(-20deg);
        margin-top: 100px;
    }

    #tweet2 {
        transform: rotate(20deg);
    }

    #tweet3 {
        transform: rotate(-20deg);
    }

    #tweet4 {
        transform: rotate(20deg);
    }

    #tweet5 {
        transform: rotate(-20deg);
        margin-top: 100px;
    }

    #easy {
        opacity: 0;
    }
</style>

<div>
    <!-- Toolbar -->
    <div #toolbar class="toolbar">
        <div class="toolbar-edge">
            <div class="vertical-center">
                <a href="#">
                    <img src="assets/enron_logo_gradient.png" height="70px" />
                </a>
            </div>
        </div>
        <div #links class="toolbar-center">
            <a href="#">Home</a>
            <a href="#">Shop</a>
            <a href="#">Who We Are</a>
            <a href="#">PR</a>
            <a href="#">Executive Summary</a>
        </div>
        <div class="toolbar-edge">
            <div id="login-button" class="vertical-center">
                <a href="#" class="button"><i>my</i><b>Enron</b></a>
            </div>
            <a id="mobile-menu" href="#"
                ><img src="assets/list.svg" height="70px"
            /></a>
        </div>
    </div>
    <div #line class="toolbar-line"></div>

    <div class="curtain">
        <!-- Title -->
        <div #titleContainer class="container">
            <h1 #title class="title">WE'RE BACK... <br />CAN WE TALK?</h1>
        </div>

        <!-- Logo -->
        <div #logo class="logo-container">
            <img src="assets/enron_logo_gradient.png" class="logo" />
        </div>

        <!-- Subtitle -->
        <div class="text-container sticky-v-center">
            <h2 class="subtitle" #subtitle>
                Enron is committed to showing you why<br />we deserve a second
                chance.
            </h2>
        </div>

        <!-- Tweet Header -->
        <div class="text-container sticky-v-center">
            <h2 class="subtitle" #tweetHeader>
                We know it’s not going to be easy…
            </h2>
        </div>

        <div class="tweets-spacer"></div>

        <!-- Tweets -->
        <div class="tweets-container" #tweetsContainer>
            <div *ngFor="let row of tweetRows; index as i">
                <div *ngFor="let tweet of row; index as i" #tweet>
                    <blockquote class="twitter-tweet" data-theme="dark">
                        <p lang="en" dir="ltr">
                            {{ tweet.content }}
                        </p>
                        &mdash; {{ tweet.author }}
                        <a href="{{ tweet.url }}">{{ tweet.date }}</a>
                    </blockquote>
                </div>
            </div>
            <script
                async
                src="https://platform.twitter.com/widgets.js"
                charset="utf-8"
            ></script>
        </div>
    </div>

    <!-- Light section -->
    <div class="main-container">
        <div class="container">
            <img src="assets/enron_logo.png" class="color-logo" />
        </div>
        <div style="margin-top: 100px" class="container">
            <h1>We hear you.</h1>
        </div>
    </div>

    <div style="height: 1000px"></div>

    <router-outlet></router-outlet>
</div>
