<style>
    :host {
        font-family: "Arial Black";
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    #tweet1 {
        transform: rotate(-20deg);
        margin-top: 100px;
    }

    #tweet2 {
        transform: rotate(20deg);
    }

    #tweet3 {
        transform: rotate(-20deg);
    }

    #tweet4 {
        transform: rotate(20deg);
    }

    #tweet5 {
        transform: rotate(-20deg);
        margin-top: 100px;
    }

    #easy {
        opacity: 0;
    }
</style>

<div>
    <!-- Toolbar -->
    <div #toolbar class="toolbar">
        <div class="toolbar-edge">
            <div class="vertical-center">
                <a href="#">
                    <img src="assets/enron_logo_gradient.png" height="70px" />
                </a>
            </div>
        </div>
        <div #links class="toolbar-center">
            <a href="#">Home</a>
            <a href="#">Shop</a>
            <a href="#">Who We Are</a>
            <a href="#">PR</a>
            <a href="#">Executive Summary</a>
        </div>
        <div class="toolbar-edge">
            <div id="login-button" class="vertical-center">
                <a href="#" class="button"><i>my</i><b>Enron</b></a>
            </div>
            <a id="mobile-menu" href="#"
                ><img src="assets/list.svg" height="70px"
            /></a>
        </div>
    </div>
    <div #line class="toolbar-line"></div>

    <div class="curtain">
        <!-- Title -->
        <div #titleContainer class="container">
            <h1 #title class="title">WE'RE BACK... <br />CAN WE TALK?</h1>
        </div>

        <!-- Logo -->
        <div #logo class="logo-container">
            <img src="assets/enron_logo_gradient.png" class="logo" />
        </div>

        <!-- Subtitle -->
        <div class="text-container sticky-v-center">
            <h2 class="subtitle" #subtitle>
                Enron is committed to showing you why<br />we deserve a second
                chance.
            </h2>
        </div>

        <!-- Tweet Header -->
        <div class="text-container sticky-v-center">
            <h2 class="subtitle" #tweetHeader>
                We know it’s not going to be easy…
            </h2>
        </div>

        <!-- Tweets -->
        <div class="tweets-container">
            <div>
                <div #tweet1 id="tweet1">
                    <blockquote class="twitter-tweet" data-theme="dark">
                        <p lang="en" dir="ltr">
                            And more recently, Enron and the energy traders took
                            corruption and evilness to a whole new level.
                        </p>
                        &mdash; nooK ttocS (@NookTtocs)
                        <a
                            href="https://twitter.com/NookTtocs/status/547501432?ref_src=twsrc%5Etfw"
                            >December 30, 2007</a
                        >
                    </blockquote>
                    <script
                        async
                        src="https://platform.twitter.com/widgets.js"
                        charset="utf-8"
                    ></script>
                </div>
                <div #tweet2 id="tweet2">
                    <blockquote class="twitter-tweet" data-theme="dark">
                        <p lang="en" dir="ltr">
                            one thing good about moving is "the purge" why was i
                            keeping bills from 2004 in my file cabinet? shredded
                            so much tonight. feeling enron
                        </p>
                        &mdash; Sean Percival (@Percival)
                        <a
                            href="https://twitter.com/Percival/status/367504092?ref_src=twsrc%5Etfw"
                            >October 27, 2007</a
                        >
                    </blockquote>
                    <script
                        async
                        src="https://platform.twitter.com/widgets.js"
                        charset="utf-8"
                    ></script>
                </div>
            </div>
            <div>
                <div #tweet3 id="tweet3">
                    <blockquote class="twitter-tweet" data-theme="dark">
                        <p lang="en" dir="ltr">
                            Just gob smacked after watching the Enron
                            documentary - we always did wonder how they made
                            money - and of course they didn&#39;t
                        </p>
                        &mdash; Andy Boyd (@AndyBoydnl)
                        <a
                            href="https://twitter.com/AndyBoydnl/status/427197372?ref_src=twsrc%5Etfw"
                            >November 19, 2007</a
                        >
                    </blockquote>
                    <script
                        async
                        src="https://platform.twitter.com/widgets.js"
                        charset="utf-8"
                    ></script>
                </div>
            </div>
            <div>
                <div #tweet4 id="tweet4">
                    <blockquote class="twitter-tweet" data-theme="dark">
                        <p lang="en" dir="ltr">
                            I&#39;ve shredded my weight in paper today, maybe I
                            should&#39;ve worked at Enron
                        </p>
                        &mdash; Nick Ramirez (@brownsabbath)
                        <a
                            href="https://twitter.com/brownsabbath/status/430269402?ref_src=twsrc%5Etfw"
                            >November 20, 2007</a
                        >
                    </blockquote>
                    <script
                        async
                        src="https://platform.twitter.com/widgets.js"
                        charset="utf-8"
                    ></script>
                </div>
                <div #tweet5 id="tweet5">
                    <blockquote class="twitter-tweet" data-theme="dark">
                        <p lang="en" dir="ltr">
                            3 Bankers Plead Guilty in Case Tied to Enron
                            http://tinyurl.com/2cm2la
                        </p>
                        &mdash; NYT Business (@nytimesbusiness)
                        <a
                            href="https://twitter.com/nytimesbusiness/status/453313652?ref_src=twsrc%5Etfw"
                            >November 29, 2007</a
                        >
                    </blockquote>
                    <script
                        async
                        src="https://platform.twitter.com/widgets.js"
                        charset="utf-8"
                    ></script>
                </div>
            </div>
        </div>
    </div>

    <!-- Light section -->
    <div class="main-container">
        <div class="container">
            <img src="assets/enron_logo.png" class="color-logo" />
        </div>
        <div style="margin-top: 100px" class="container">
            <h1>We hear you.</h1>
        </div>
    </div>

    <div style="height: 1000px"></div>
</div>

<router-outlet></router-outlet>
