<style>
    :host {
        font-family: "Manrope-Bold";
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    iframe {
        border: none;
        padding: none;
        margin: 30px;
        width: 284px;
        height: 350px;
    }

    .en-toolbar {
        position: fixed;
        width: 100%;
        height: 125px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        z-index: 1;
    }

    .en-toolbar > a {
        vertical-align: middle;
        margin-left: 30px;
        margin-right: 30px;
        z-index: 3;
        color: white;
        text-decoration: none;
    }

    .en-toolbar > a:first-of-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .en-toolbar-edge {
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .en-toolbar-center {
        width: 60%;
        display: flex;
        justify-content: space-between;
        opacity: 0;
    }

    .en-line {
        position: fixed;
        top: 125px;
        height: 2px;
        background-color: white;
        width: 100%;
        opacity: 0;
    }

    .en-vertical-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .en-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .en-button {
        border: 2px solid white;
        color: white;
        text-decoration: none;
        padding: 9px 17px;
    }

    h1 {
        font-size: 150px;
        line-height: 115px;
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }

    h2 {
        font-size: 75px;
        line-height: 57.5px;
    }

    .en-logo {
        width: 750px;
        position: fixed;
    }

    .en-text-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .en-subtitle {
        margin-top: 900px;
        bottom: 30px;
    }

    .en-tweets-container {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .en-divider {
        width: 100%;
        height: 75px;
        background-image: url("assets/enron_siri.png");
        background-repeat: repeat-x;
        background-size: 1500px 75px;
        margin-top: 100px;
    }

    .en-main-container {
        background-color: white;
        width: 100%;
        color: black;
    }

    .en-color-logo {
        margin-top: 100px;
        width: 750px;
    }

    .en-toolbar-center > a {
        line-height: 125px;
        color: white;
        text-decoration: none;
    }

    .en-text-green {
        color: rgb(45, 156, 92);
    }

    @media screen and (max-width: 1196px) {
        .en-title {
            margin-top: 125px;
        }

        .toolbar {
            background-color: black;
        }
    }

    @media screen and (max-width: 840px) {
        .en-logo {
            width: 680px;
        }
    }

    @media screen and (max-width: 715px) {
        .en-title {
            font-size: 70px;
            line-height: 53.6px;
        }

        .en-logo {
            width: 420px;
        }

        .en-text-container {
            font-size: 35px;
            line-height: 29px;
        }

        .en-subtitle-container {
            margin-top: 560px;
        }
    }
</style>

<div>
    <!-- Toolbar -->
    <div #toolbar class="en-toolbar">
        <div class="en-toolbar-edge">
            <div class="en-vertical-center">
                <a href="#">
                    <img src="assets/enron_logo_gradient.png" height="70px" />
                </a>
            </div>
        </div>
        <div #links class="en-toolbar-center">
            <a href="#">Home</a>
            <a href="#">Shop</a>
            <a href="#">Who We Are</a>
            <a href="#">PR</a>
            <a href="#">Executive Summary</a>
        </div>
        <div class="en-toolbar-edge">
            <div class="en-vertical-center">
                <a href="#" class="en-button"><i>my</i><b>Enron</b></a>
            </div>
        </div>
    </div>
    <div #line class="en-line"></div>

    <!-- Introduction -->
    <div class="en-container">
        <h1 #title>We're back... <br />Can we talk?</h1>
    </div>

    <!-- Logo -->
    <div class="en-container">
        <img #logo src="assets/enron_logo_gradient.png" class="en-logo" />
    </div>

    <!-- Text Block -->
    <div class="en-text-container">
        <h2 #subtitle class="en-subtitle">
            <span style="opacity: 0.6"
                >Enron is committed to showing you why<br />we deserve a second
                chance. </span
            ><br /><br />
            <span #block2>But we know it’s not going to be easy…</span>
        </h2>
    </div>
    <div class="en-tweets-container">
        <table>
            <tr>
                <td>
                    <iframe
                        srcdoc='<blockquote class="twitter-tweet"><p lang="en" dir="ltr">And more recently, Enron and the energy traders took corruption and evilness to a whole new level.</p>&mdash; nooK ttocS (@NookTtocs) <a href="https://twitter.com/NookTtocs/status/547501432?ref_src=twsrc%5Etfw">December 30, 2007</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>'
                    >
                    </iframe>
                </td>
                <td>
                    <iframe
                        srcdoc='<blockquote class="twitter-tweet"><p lang="en" dir="ltr">one thing good about moving is "the purge" why was i keeping bills from 2004 in my file cabinet? shredded so much tonight. feeling enron</p>&mdash; Sean Percival (@Percival) <a href="https://twitter.com/Percival/status/367504092?ref_src=twsrc%5Etfw">October 27, 2007</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>'
                    >
                    </iframe>
                </td>
                <td>
                    <iframe
                        srcdoc='<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Just gob smacked after watching the Enron documentary - we always did wonder how they made money - and of course they didn&#39;t</p>&mdash; Andy Boyd (@AndyBoydnl) <a href="https://twitter.com/AndyBoydnl/status/427197372?ref_src=twsrc%5Etfw">November 19, 2007</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>'
                    >
                    </iframe>
                </td>
            </tr>
            <tr>
                <td>
                    <iframe
                        srcdoc='<blockquote class="twitter-tweet"><p lang="en" dir="ltr">I&#39;ve shredded my weight in paper today, maybe I should&#39;ve worked at Enron</p>&mdash; Nick Ramirez (@brownsabbath) <a href="https://twitter.com/brownsabbath/status/430269402?ref_src=twsrc%5Etfw">November 20, 2007</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>'
                    >
                    </iframe>
                </td>
                <td>
                    <iframe
                        srcdoc='<blockquote class="twitter-tweet"><p lang="en" dir="ltr">3 Bankers Plead Guilty in Case Tied to Enron http://tinyurl.com/2cm2la</p>&mdash; NYT Business (@nytimesbusiness) <a href="https://twitter.com/nytimesbusiness/status/453313652?ref_src=twsrc%5Etfw">November 29, 2007</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>'
                    >
                    </iframe>
                </td>
                <td>
                    <iframe
                        srcdoc='<blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/mrsb?ref_src=twsrc%5Etfw">@mrsb</a> we call shredding in our house the Enron Game. Kids love it.</p>&mdash; Matt Edwards (@realredboy) <a href="https://twitter.com/realredboy/status/8698541?ref_src=twsrc%5Etfw">March 16, 2007</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>'
                    >
                    </iframe>
                </td>
            </tr>
        </table>
    </div>
    <div class="en-divider"></div>
    <div class="en-main-container">
        <div class="en-logo-container">
            <img src="assets/enron_logo.png" class="en-color-logo" />
        </div>
        <div style="margin-top: 100px" class="en-title-container">
            <span class="en-title">We hear you.</span>
        </div>
        <div style="height: 1000px"></div>
    </div>
</div>

<router-outlet></router-outlet>
