$toolbar-height: 125px;
$toolbar-height-mobile: 75px;
$fade-duration: 300px;
$transition-time: 0.3s;

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}

.text-container {
	@extend .container;

	padding-left: 30px;
	padding-right: 30px;
}
