/**
 * ------------------------------------------------------------
 * Animation
 *
 */

$fade-duration: 300px;
$transition-time: 0.3s;

/**
 * ------------------------------------------------------------
 * Toolbar
 *
 */

$toolbar-height: 125px;
$toolbar-height-mobile: 75px;

/**
 * ------------------------------------------------------------
 * Theme
 *
 */

$palette-red: rgb(233, 41, 54);
$palette-green: rgb(45, 155, 92);
$palette-blue: rgb(0, 131, 197);

/**
 * ------------------------------------------------------------
 * Text
 *
 */

$line-height-factor: 0.85;

/**
 * ------------------------------------------------------------
 * Responsiveness
 *
 */

$title-shop-collision-1: 1809px; // when the title (h2) gets to close to the shop menu
$title-shop-collision-2: 1395px;
$tri-column-collision: 1200px; // when the three columns under the ceo video become too close together
$title-shop-collision-3: 920px;

/**
 * ------------------------------------------------------------
 * Base
 *
 */

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}

.text-container {
	@extend .container;

	padding-left: 30px;
	padding-right: 30px;
}
