$toolbar-height: 125px;
$toolbar-height-mobile: 75px;
$fade-duration: 300px;
$transition-time: 0.3s;

$palette-red: rgb(233, 41, 54);
$palette-green: rgb(45, 155, 92);
$palette-blue: rgb(0, 131, 197);

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}

.text-container {
	@extend .container;

	padding-left: 30px;
	padding-right: 30px;
}
