<div class="page-container">
	<div class="content-section" mode="dark">
		<div class="verticle-center" style="max-width: 100%">
			<div class="container">
				<h1>WE BELIEVE IN YOU</h1>
			</div>
			<div class="spacer"></div>
			<div class="container">
				<p class="subtitle">
					We truly do. We are your biggest cheerleaders. Your mother
					and father suck compared to us. Who used to employ your
					mother and father? Us. What happened to your financial
					situation when your mother and father abandoned the only
					people who would ever love them? They had to get rid of you
					cause they had no money.
				</p>
			</div>
			<div class="spacer"></div>
			<div class="container">
				<a href="#" class="button"><b>APPLY</b></a>
			</div>
			<div class="section-spacer"></div>
			<div class="info-container">
				<div class="vertical-center info-text">
					<h3>WHAT YOU GET</h3>
					<p>
						We are being so generous. We dumped all our seed money
						into stuffing a warehouse full of this merch. Turns out
						the warehouse rent doesn't pay itself, so we have to rid
						ourselves of our inventory by the end of the month. So
						here's some free merch for applying.
					</p>
				</div>
				<div class="vertical-center">
					<div class="container">
						<img
							class="info-content merch-img"
							src="assets/shirt.png"
						/>
					</div>
					<div class="spacer"></div>
					<div class="container">
						<img
							class="info-content merch-img"
							src="assets/hat.png"
						/>
					</div>
					<div class="spacer"></div>
					<div class="container">
						<img
							class="info-content merch-img"
							src="assets/bag.png"
						/>
					</div>
				</div>
			</div>
			<div class="section-spacer"></div>
		</div>
	</div>
	<div class="content-section" mode="light">
		<div class="section-spacer"></div>
		<div class="container">
			<h3>IT TAKES 30 SECONDS TO APPLY</h3>
		</div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="container">
			<div class="apply-form">
				<label for="name">NAME</label>
				<input type="text" name="name" placeholder="e.g. Mason Alan" />
				<div class="spacer"></div>
				<label for="email">EMAIL</label>
				<input
					type="text"
					name="email"
					placeholder="e.g. mason@gmail.com"
				/>
				<div class="spacer"></div>
				<label for="address">ADDRESS</label>
				<input
					type="text"
					name="address"
					autocomplete="street-address"
					placeholder="e.g. 123 Top Dr."
				/>
				<div class="spacer"></div>
				<div class="vertical-center">
					<a class="large-button">SUBMIT</a>
				</div>
			</div>
		</div>
		<div class="section-spacer"></div>
	</div>
</div>
